.chart-wrapper {
  background: #fff;
  padding: 10px;
}

.chart__title {
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
}

.shadow {
  box-shadow: 6px 6px 54px 0 rgba(0,0,0,.05);
}

.radius {
  border-radius: 4px;
}
