/* //草原防火区 */
.el-icon-my-cao-yuan-fang-huo {
  background: url("~@/assets/icons/cao-yuan-fang-huo-qu.ico") center no-repeat;
}

.el-icon-my-cao-yuan-fang-huo:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //行政省 */
.el-icon-my-xing-zheng-sheng {
  background: url("~@/assets/icons/xing-zheng-sheng.ico") center no-repeat;
}

.el-icon-my-xing-zheng-sheng:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //行政市 */
.el-icon-my-xing-zheng-shi {
  background: url("~@/assets/icons/xing-zheng-shi.ico") center no-repeat;
}

.el-icon-my-xing-zheng-shi:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //行政县 */
.el-icon-my-xing-zheng-xian {
  background: url("~@/assets/icons/xing-zheng-xian.ico") center no-repeat;
}

.el-icon-my-xing-zheng-xian:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //居民地 */
.el-icon-my-ju-min-di {
  background: url("~@/assets/icons/ju-min-di.ico") center no-repeat;
}

.el-icon-my-ju-min-di:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //森林分布 */
.el-icon-my-sen-lin-fen-bu {
  background: url("~@/assets/icons/sen-lin-fen-bu.ico") center no-repeat;
}

.el-icon-my-sen-lin-fen-bu:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}
/* 草原分布 */
.el-icon-my-cao-yuan-fen-bu {
  background: url("~@/assets/icons/grass-land.ico") center no-repeat;
}

.el-icon-my-cao-yuan-fen-bu:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //森林防火区 */
.el-icon-my-sen-lin-fang-huo-qu {
  background: url("~@/assets/icons/sen-lin-fang-huo-qu.ico") center no-repeat;
}

.el-icon-my-sen-lin-fang-huo-qu:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //水系 */
.el-icon-my-shui-xi {
  background: url("~@/assets/icons/shui-xi.ico") center no-repeat;
}

.el-icon-my-shui-xi:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //消防员 */
.el-icon-my-xiao-fang-yuan {
  background: url("~@/assets/icons/xiaoFang.ico") center no-repeat;
}

.el-icon-my-xiao-fang-yuan:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //消防员 新图标*/
.el-icon-my-xiao-fang-yuan2 {
  background: url("~@/assets/icons/xiaofang2.ico") center no-repeat;
}

.el-icon-my-xiao-fang-yuan2:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //防火机构 */
.el-icon-my-fang-huo-ji-gou {
  background: url("~@/assets/icons/fang-huo-ji-gou.ico") center no-repeat;
}

.el-icon-my-fang-huo-ji-gou:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //机构责任区 */
.el-icon-my-ji-gou-ze-ren-qu {
  background: url("~@/assets/icons/ji-gou-ze-ren-qu.ico") center no-repeat;
}

.el-icon-my-ji-gou-ze-ren-qu:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //机构责任区 */
.el-icon-my-lin-shi-jian-cha-zhan {
  background: url("~@/assets/icons/lin-shi-jian-cha-zhan.ico") center no-repeat;
}

.el-icon-my-lin-shi-jian-cha-zhan:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //机构责任区 */
.el-icon-my-slcyfhq {
  background: url("~@/assets/icons/slcyfhq.ico") center no-repeat;
}

.el-icon-my-slcyfhq:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //机构责任区 */
.el-icon-my-ghx {
  background: url("~@/assets/icons/ghx.ico") center no-repeat;
}

.el-icon-my-ghx:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* //机构责任区 */
.el-icon-my-cc0000 {
  background: url("~@/assets/icons/cc0000.ico") center no-repeat;
}

.el-icon-my-cc0000:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-my-ea9999 {
  background: url("~@/assets/icons/ea9999.ico") center no-repeat;
}

.el-icon-my-ea9999:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-my-f4cccc {
  background: url("~@/assets/icons/f4cccc.ico") center no-repeat;
}

.el-icon-my-f4cccc:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-my-e69138 {
  background: url("~@/assets/icons/e69138.ico") center no-repeat;
}

.el-icon-my-e69138:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-my-f6b26b {
  background: url("~@/assets/icons/f6b26b.ico") center no-repeat;
}

.el-icon-my-f6b26b:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-my-f9cb9c {
  background: url("~@/assets/icons/f9cb9c.ico") center no-repeat;
}

.el-icon-my-f9cb9c:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-icon-my-b3003e {
  background: url("~@/assets/icons/b3003e.ico") center no-repeat;
}

.el-icon-my-b3003e:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 物资储备库 */
.el-icon-my-wu-zi-chu-bei-ku {
  background: url("~@/assets/icons/wu-zi-chu-bei-ku.ico") center no-repeat;
}

.el-icon-my-wu-zi-chu-bei-ku:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}



/* 专业队营房 */
.el-icon-my-zhuan-ye-dui-ying-fang {
  background: url("~@/assets/icons/el-icon-my-zhuan-ye-dui-ying-fang.ico") center no-repeat;
}

.el-icon-my-zhuan-ye-dui-ying-fang:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}


/* 地面取水储水池 */
.el-icon-my-di-mian-qu-shui-xu-shui-chi {
  background: url("~@/assets/icons/el-icon-my-di-mian-qu-shui-xu-shui-chi.ico") center no-repeat;
}

.el-icon-my-di-mian-qu-shui-xu-shui-chi:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 瞭望台 */
.el-icon-my-liao-wang-tai {
  background: url("~@/assets/icons/el-icon-my-liao-wang-tai.ico") center no-repeat;
}

.el-icon-my-liao-wang-tai:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 常年检查站 */
.el-icon-my-chang-nian-jian-cha-zhan {
  background: url("~@/assets/icons/el-icon-my-chang-nian-jian-cha-zhan.ico") center no-repeat;
}

.el-icon-my-chang-nian-jian-cha-zhan:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 防火道路 */
.el-icon-my-fang-huo-dao-lu {
  background: url("~@/assets/icons/el-icon-my-fang-huo-dao-lu.ico") center no-repeat;
}

.el-icon-my-fang-huo-dao-lu:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 防火阻隔带 */
.el-icon-my-fang-huo-ge-li-dai {
  background: url("~@/assets/icons/el-icon-my-fang-huo-ge-li-dai.ico") center no-repeat;
}

.el-icon-my-fang-huo-ge-li-dai:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 航空护林站 */
.el-icon-my-hang-kong-hu-lin-zhan {
  background: url("~@/assets/icons/el-icon-my-hang-kong-hu-lin-zhan.ico") center no-repeat;
}

.el-icon-my-hang-kong-hu-lin-zhan:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 永久机降低点 */
.el-icon-my-yong-jiu-ji-jiang-ji-dian {
  background: url("~@/assets/icons/el-icon-my-yong-jiu-ji-jiang-ji-dian.ico") center no-repeat;
}

.el-icon-my-yong-jiu-ji-jiang-ji-dian:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 临时机降点 */
.el-icon-my-lin-shi-ji-jiang-ji-dian {
  background: url("~@/assets/icons/el-icon-my-lin-shi-ji-jiang-ji-dian.ico") center no-repeat;
}

.el-icon-my-lin-shi-ji-jiang-ji-dian:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

/* 视频监控点 */
.el-icon-my-shi-pin-jian-kong-dian {
  background: url("~@/assets/icons/el-icon-my-shi-pin-jian-kong-dian.ico") center no-repeat;
}

.el-icon-my-shi-pin-jian-kong-dian:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-ji-chu-she-shi {
  background: url("~@/assets/icons/ji-chu-she-shi.ico") center no-repeat;
}

.el-ji-chu-she-shi:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-zu-ge-xi-tong {
  background: url("~@/assets/icons/zu-ge-xi-tong.ico") center no-repeat;
}

.el-zu-ge-xi-tong:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-hang-kong {
  background: url("~@/assets/icons/hang-kong.ico") center no-repeat;
}

.el-hang-kong:before {
  content: "\8d3a";
  font-size: 14px;
  visibility: hidden;
}

.el-qi-ta {
  background: url("~@/assets/icons/qi-ta-she-shi.ico") center no-repeat;
}

.el-qi-ta:before {
  content: "\8d3a";
  font-size: 60px;
  visibility: hidden;
}
